<h1><%= @sign.capitalize %></h1>

<p><%= @horoscope %></p>

<p>Your lucky numbers for today are:</p>

<ul>
  <% Zodiac.lucky_numbers.each do |number| %>
    <li>
      <%= number %>
    </li>
  <% end %>
</ul>
